<main class="container">
  <div class="row row-cols-auto align-items-center">
    <div class="col">
      <span>Folders</span>
    </div>
    <div class="col">
      <button class="btn btn-outline-secondary">
        <i class="bi bi-folder-plus"></i>
        Create folder
      </button>
    </div>
  </div>

  <div class="container">
    <li *ngIf="data.dirs.length > 0"
      class="d-flex align-items-center justify-content-start">
      <ul *ngFor="let dir of data.dirs">
        <button class="btn btn-dark" (click)="goTo(dir)">
          <i class="bi bi-folder-fill"></i>
          {{ dir }}
        </button>
      </ul>
    </li>
  </div>

  <div class="row row-cols-auto align-items-center">
    <div class="col">
      <span>Files</span>
    </div>
    <div class="col">
      <input #fileInput class="file-input" type="file" (change)="uploadFile($event)">
      <button class="btn btn-outline-secondary" (click)="fileInput.click()">
        <i class="bi bi-cloud-arrow-up-fill"></i>
        Upload file
      </button>
    </div>
  </div>
  <div class="container">
    <li *ngIf="data.files.length > 0"
      class="d-flex align-items-center justify-content-start">
      <ul *ngFor="let file of data.files">
        <button class="btn btn-dark" (click)="downloadFile(file)">
          <i class="bi bi-file-earmark-fill"></i>
          {{ file }}
        </button>
      </ul>
    </li>
  </div>
</main>
