<!-- Bootstrap modal for creating new folder -->
<div class="modal fade" id="modalNewFolder" tabindex="-1" aria-labelledby="modalNewFolderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form #createForm="ngForm" (submit)="submit(folderNameCtrl.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNewFolderLabel">New folder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="folderName" class="col-form-label">Folder name:</label>
            <input type="text" id="folderName" name="folderName"
            #folderNameCtrl="ngModel"
            class="form-control"
            [ngClass]="(folderNameCtrl.touched || folderNameCtrl.dirty) ?
                       (folderNameCtrl.valid && !invalidFolderName(folderNameCtrl.value) ?
                        'is-valid' : 'is-invalid'
                        ) : ''"
            required
            ngModel>
            <div *ngIf="folderNameCtrl.errors || invalidFolderName(folderNameCtrl.value)"
            class="invalid-feedback">
              <span *ngIf="folderNameCtrl.hasError('required')">
                The folder name is mandatory.
              </span>
              <span *ngIf="invalidFolderName(folderNameCtrl.value)">
                Folder name can't contain '/' or '.' characters.
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal"
          [disabled]="!folderNameCtrl.valid || invalidFolderName(folderNameCtrl.value)">
          Create folder
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
