<!-- Folders and folder operations -->
<div class="row row-cols-auto align-items-center">
  <div class="col">
    <span>Folders</span>
  </div>
  <div class="col">
    <button class="btn btn-outline-secondary"
    data-bs-toggle="modal"
    data-bs-target="#modalNewFolder">
      <i class="bi bi-folder-plus"></i>
      Create folder
    </button>
  </div>
</div>

<app-phdrive-content-new-folder (onCreate)="createFolder($event)"></app-phdrive-content-new-folder>

<div class="container">
  <li *ngIf="folders.length > 0"
    class="d-flex align-items-center justify-content-start">
    <ul *ngFor="let folder of folders">
      <button class="btn btn-dark" [routerLink]="['/folder']"
      [queryParams]="{path: this.folderPath + '/' + folder}">
        <i class="bi bi-folder-fill"></i>
        {{ folder }}
      </button>
    </ul>
  </li>
</div>
